*{
  text-align: center;
}

img{
  height:300px;
  width: auto;
}

ol,ul{
  display: inline-block;
}

.pot{
  font-family: Copperplate, fantasy;
  color: brown;
  background-color: cornsilk;

}

.pbm{
  font-family: Arial, Helvetica, sans-serif;
  color: orangered;
  background-color: palegoldenrod;
}

.vsf{
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: green;
  background-color: antiquewhite;
}

.list{
  font-size: xx-large;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
}

.index{
  background-color: azure;
}

.steps{
  border: 1px solid #000;
  padding: 20px;
  border-radius: 25px;
  background-color: white;
}